body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;/*Asegura que el vídeo cubra todo*/
    z-index: -1;/*Envía el documento detrás del contenido*/
}

.content{
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

h1{
    font-size: 3rem;
    max-width: 600px;
}

button{
    margin-top: 20px;
    padding: 12px 30px;
    background: #ff8800;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0,3s;
}