*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 30px;
}

header h1{
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #222;
}

.categorias{
    margin-bottom: 30px;
}


.filtro{
    background-color: #333;
    color:white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.filtro:hover{
    background-color: #555;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.item{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    transition: 0.3s;
}

.item:hover{
    transform: scale(1.03);
}

.item img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item h3{
    color: #222;
    margin-bottom: 5px;
}

.item p{
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.precio {
    color: #e67e22;
    font-weight: bold;
    font-size: 1.1rem;
}