*{
margin: 0 ;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

h1{
    margin-bottom: 30px;
    color:#333;
}

.faq-container{
    max-width: 700px;
    width: 100%;
}


.faq{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    overflow: hidden;
    transition: 0.3s;
}


.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    background-color: #333;
    color: white;
}

.faq-question:hover{
    background-color: #444;
}

.toggle{
    font-size: 24px;
    font-weight: bold;
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    color: #333;
    transition: max-height 0.3s ease;
    padding: 0 20px;
}

.faq.open .faq-answer{
    max-height: 200px;
    padding: 20px;
}

.faq.open .toggle{
    transform: rotate(45deg);
}