body{
    font-family: Arial,sans-serif;
    text-align: center;
    margin-top: 80px;
    background-color: #f8f9fa;
}

h1{
    color: #333;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

button{
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color:white;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover{
    background-color: #0056b3;
}
