body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#paleta{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 20px;
}

.color{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid #000;
    transition: transform 0.2s;
}

.color:hover{
    transform: scale(1.2);
}